@use '../util/' as u;

.home{
    padding: 20px 10px;
    &__wrapper{
        max-width: 1200px;
        margin: auto;

        &__text{
            text-align: center;
            max-width: 900px;
            margin: 10px auto 50px;

            h1{
                font-size: clamp(2.75rem, 1.8125rem + 3vw, 3.5rem);
                margin-bottom: 10px;
            }

            p{
                max-width:600px;
                margin: auto;
                color: u.$secondary;
                line-height: 1.75;
            }
        }

        &__grid{
            display: grid;
            gap: 1.5rem;
            grid-auto-columns:1fr ;
            grid-template-areas: 
            "one one"
            "two three"
            "four four"
            "five five"
            "six six"
            ;

            &__card{
                display: grid;
                gap: 2rem;
                grid-template-rows: 1fr;
                color: #fff;
                font-size: 1.5rem;
                font-weight: 600;
                padding: 20px;
                border-radius: 10px;
                transition: .3s ease;
                cursor: pointer;

                img{
                    justify-self: right;
                }
                &:nth-child(1){
                    background: u.$card1;
                    grid-area: one;
                }
                &:nth-child(2){
                    background: u.$card2;
                    grid-area: two;
                }
                &:nth-child(3){
                    background: u.$card3;
                    grid-area: three;
                }
                &:nth-child(4){
                    background: u.$card4;
                    grid-area: four;
                }
                &:nth-child(5){
                    background: u.$card5;
                    grid-area: five;
                }
                &:nth-child(6){
                    background: u.$card6;
                    grid-area: six;
                }

                &:hover{
                    filter: brightness(.8);
                }
            }
        }
    }

    @media screen and (min-width:620px) {
        &__wrapper{
            &__grid{
                grid-template-areas: 
                "one one two three"
                "one one four four"
                "five five six six"
                ;
            }
        }
    }

    @media screen and (min-width:920px) {
        &__wrapper{
            &__grid{
                grid-template-areas: 
                "one one two three five five"
                "one one four four six six"
                ;
            }
        }
    }
}
