@use '../util/' as u;


*, *:before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: u.$bg;
    min-height: 100vh;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #0038A8;
}

